* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  font-family: Bogle;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
}
